SECRET_KEY=changeme
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost
FRONTEND_URL=http://localhost:3000
DJANGO_SETTINGS_MODULE=config.settings.dev

DATABASE_URL=postgresql://postgres:SuaSenha@centerbeam.proxy.rlwy.net:52700/railway